page-news-detail {
ion-slides {
    display: block;
    width: 100%;
    height: 52%;
}
 .news-title {
    position: absolute;
    top: 65%;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: left;
  }

  .slide-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 75%;
    width: 100%;
    color: #fff;
    text-align: left;
  }
  .info-news{
      text-align: center;
      background-color: lightgray;
      color: black;
  }

  b, strong {
    font-weight: bold;
    font-size: 2.1rem;
}
}
