<ion-header>
  <ion-navbar color="primary">
    <ion-title text-left>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><img src="{{image}}" />
        <div class="news-title" text-wrap>{{title}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="author !== null">
        <div class="info-news">
          <br> Author
          <br>
          <h6>{{author}}</h6>
        </div>
      </ion-col>
      <ion-col *ngIf="date !== null">
        <div class="info-news">
          <br> Published Date
          <br>
          <h6>{{date | date:'mediumDate'}}</h6>
        </div>
      </ion-col>
      <ion-col>
        <div class="info-news">
          <br> Source
          <br>
          <br>
          <ion-icon name="information-circle"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item no-lines text-wrap>
      <h3> <b>{{title}}</b></h3> <br>
      <p>
        {{detail}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>