<ion-header>
  <ion-navbar color="primary">
    <ion-title text-left>Choose Newspaper</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col (click)="getNews('techcrunch')">
        <ion-card>
          <div class="new-title"> <img src="assets/img/techchrunch_news.png" /></div>
        </ion-card>
        <p style="text-align: center">Technical news</p>
      </ion-col>
      <ion-col (click)="getNews('reddit-r-all')">
        <ion-card>
          <div class="new-title"><img src="assets/img/redit_news.png" /></div>
        </ion-card>
        <p style="text-align: center">Know everything</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="getNews('bbc-news')">
        <ion-card>
          <div class="new-title"><img src="assets/img/bbc_news.png" /></div>
        </ion-card>
        <p style="text-align: center">Get upated</p>
      </ion-col>
      <ion-col (click)="getNews('bbc-sport')">
        <ion-card>
          <div class="new-title"><img src="assets/img/bbc_sports_news.png" /></div>
        </ion-card>
        <p style="text-align: center">Sports news</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="getNews('the-times-of-india')">
        <ion-card>
          <div class="new-title"><img src="assets/img/toi_news.png" /></div>
        </ion-card>
        <p style="text-align: center">India news</p>
      </ion-col>
      <ion-col (click)="getNews('google-news-in')">
        <ion-card>
          <div class="new-title"><img src="assets/img/google_news.png" /></div>
        </ion-card>
        <p style="text-align: center">Google news</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>