page-news-list {
ion-card {
    position: relative;
    text-align: center;
    height: 20rem;
  }
  .card-title-left{
      position: absolute;
      top: 10%;
      width: 100%;
      color: #fff;
      font-size: 0.9;
      text-align: right;
  }

  .card-title {
    position: absolute;
    top: 65%;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: left;
  }
  .detail-title{
      color: #fff;
  }
}
