<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
  </button>
    <ion-title text-left>{{setTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card (click)="newsDetail(news_list.title,news_list.author,news_list.publishedAt,news_list.url,news_list.description,news_list.urlToImage)"
    *ngFor="let news_list of newsData?.articles">
    <img src="{{news_list.urlToImage}}" />
    <div class="card-title-left"  *ngIf="news_list.author !== null">
      <button ion-button icon-right clear>
        <ion-icon name="contact" color="light"></ion-icon> &nbsp;
          <p class="detail-title">{{news_list.author}}</p>
      </button>
    </div>
    <div class="card-title">{{news_list.title}}</div>
  </ion-card>
</ion-content>